html{
  --header-bg:#83c0fc;
  --dark-sky-color:#111f28;
  --text-color:#969696;
  --text-color_hover:#545454;
  --border-color:#43a6e8;
  --blue-text-color:#2a7ac7;
  --blue-text-color__hover:#14497d;
  --robux-color:37ac5a;
  --blue_hover:#2e79ab;
}